.container {
    width: 630px;
    height: 630px;
    margin: 30px auto;
    border: 1px solid black;
}

.block {
    width: 70px;
    height: 70px;
    float: left;
    font-size: 60px;
    text-align: center;
}

.black-block{
    background-color: #000;
}

.white-block{
    background-color: #fff;
}

.boardNumbers{
    background-color: gray;
}